*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: rgb(255, 255, 255);

    ::after {
        position: absolute;
        content: "";
        background-image: url(https://static.vecteezy.com/system/resources/previews/011/098/198/original/watercolor-flowers-border-arrangement-with-blue-roses-and-green-leaves-illustration-png.png);
        background-position: center;
        background-size: cover;
        opacity: .2;
        width: 100%;
        height: 60%;
    }
    ::before {
        position: absolute;
        bottom: 0px;
        content: "";
        background-image: url(https://i.pinimg.com/originals/d6/90/be/d690be3a433e515eb99cbd8415a921a2.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 50%;
    }

}