@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

section {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 30px;

    img {
        position: absolute;
        left: 0;
    }

    .top {
        top: 0;
        transform: translateX(-20%);
        width: 150vw;
        opacity: .2;
        z-index: 1;
    }
    .bottom {
        bottom: 0;
        width: 100vw;
        z-index: 3;
    }

    .box-body {
        position: relative;
        width: 100%;
        height: 100%;
        margin: auto;
        padding: 10px;
        //border: 1px solid rgb(184, 48, 48);
        border-radius: 0px 50px;
        box-shadow: 2px 3px 5px rgba(42, 42, 43, 0.473);
        background-color: rgba(162, 228, 240, 0.253);
        //font-family: "Dancing Script", cursive;
        font-family: "Indie Flower", cursive;
        font-size: 1.5em;
        color: red;
        z-index: 2;
    }

}


